config/amqp_queue_mapping.xsd



<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="Mapping-Table">
    <xs:complexType>
      <xs:sequence>
        <xs:element type="xs:string" name="Relation-Identifier"/>
        <xs:element name="violations">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="alert">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element type="xs:string" name="min"/>
                    <xs:element type="xs:string" name="max"/>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="warn">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element type="xs:string" name="min"/>
                    <xs:element type="xs:string" name="max"/>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="mapping">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="completion">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element type="xs:string" name="Name"/>
                    <xs:element type="xs:string" name="measure-unit"/>
                    <xs:element type="xs:string" name="description"/>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="computation">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="basic">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element type="xs:string" name="add"/>
                          <xs:element type="xs:string" name="multiply"/>
                          <xs:element type="xs:string" name="subtract"/>
                          <xs:element type="xs:string" name="divide"/>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="related-computation">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element type="xs:string" name="identiefier"/>
                          <xs:element type="xs:string" name="subtract"/>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>

